@charset "utf-8";
/* UNICODE TAMIL FONT CSS */
#content-container { float:left; padding-bottom:2%; width:50%; }
#number-container { float:left; width:8%; }
#kural-container { float:left; width:92%; }
/* Font Face */
@font-face { font-family:'aava1'; src:url(../font/tamil_unicode/aava1.ttf); }
@font-face { font-family:'Akshar'; src:url(../font/tamil_unicode/Akshar.ttf); }
@font-face { font-family:'Code2001'; src:url(../font/tamil_unicode/Code2001.ttf); }
@font-face { font-family:'latha'; src:url(../font/tamil_unicode/latha.ttf); }
@font-face { font-family:'lohit_ta'; src:url(../font/tamil_unicode/lohit_ta.ttf); }
@font-face { font-family:'RRJanaTamil'; src:url(../font/tamil_unicode/RRJanaTamil.ttf); }
@font-face { font-family:'tau1_bar'; src:url(../font/tamil_unicode/tau1_bar.ttf); }
@font-face { font-family:'ThendralUni'; src:url(../font/tamil_unicode/ThendralUni.ttf); }
@font-face { font-family:'TheneeUni'; src:url(../font/tamil_unicode/TheneeUni.ttf); }
@font-face { font-family:'VaigaiUni'; src:url(../font/tamil_unicode/VaigaiUni.ttf); }
@font-face { font-family:'Song-1'; src:url(../font/tamil_unicode/UniIlaSundaram-01.ttf); }
@font-face { font-family:'Unit-Title'; src:url(../font/tamil_unicode/UniIlaSundaram-02.ttf); }
@font-face { font-family:'Sub-Title'; src:url(../font/tamil_unicode/UniIlaSundaram-03.ttf); }
@font-face { font-family:'Running-Text-Slanting'; src:url(../font/tamil_unicode/UniIlaSundaram-04.ttf); }
@font-face { font-family:'Chapter-Title'; src:url(../font/tamil_unicode/UniIlaSundaram-05.ttf); }
@font-face { font-family:'Style-1'; src:url(../font/tamil_unicode/UniIlaSundaram-06.ttf); }
@font-face { font-family:'Running-Text-Straight'; src:url(../font/tamil_unicode/UniIlaSundaram-07.ttf); }
@font-face { font-family:'Style-2'; src:url(../font/tamil_unicode/UniIlaSundaram-08.ttf); }
@font-face { font-family:'Style-3'; src:url(../font/tamil_unicode/UniIlaSundaram-09.ttf); }
@font-face { font-family:'Song-2'; src:url(../font/tamil_unicode/UniIlaSundaram-10.ttf); }
@font-face { font-family:'SUNDARAM-0830'; src:url(../font/tamil_unicode/SUNDARAM-0830.ttf); }

@font-face { font-family:'Amudham'; src:url(../font/tamil_unicode/tamil-fonts/Amudham.ttf); }
@font-face { font-family:'Bamini_Plain'; src:url(../font/tamil_unicode/tamil-fonts/Bamini_Plain.ttf); }
@font-face { font-family:'ELCOT-ANSI'; src:url(../font/tamil_unicode/tamil-fonts/ELCOT-ANSI.ttf); }
@font-face { font-family:'ELCOT-Kanchi'; src:url(../font/tamil_unicode/tamil-fonts/ELCOT-Kanchi.ttf); }
@font-face { font-family:'ELCOT-Kovai'; src:url(../font/tamil_unicode/tamil-fonts/ELCOT-Kovai.ttf); }
@font-face { font-family:'ELCOT-Madurai'; src:url(../font/tamil_unicode/tamil-fonts/ELCOT-Madurai.ttf); }
@font-face { font-family:'ELCOT-Salem'; src:url(../font/tamil_unicode/tamil-fonts/ELCOT-Salem.ttf); }
@font-face { font-family:'ELCOT-Thanjavur'; src:url(../font/tamil_unicode/tamil-fonts/ELCOT-Thanjavur.ttf); }
@font-face { font-family:'ELCOT-Tirunelveli'; src:url(../font/tamil_unicode/tamil-fonts/ELCOT-Tirunelveli.ttf); }
@font-face { font-family:'ELCOT-Tiruvarur'; src:url(../font/tamil_unicode/tamil-fonts/ELCOT-Tiruvarur.ttf); }
@font-face { font-family:'ELCOT-Trichy'; src:url(../font/tamil_unicode/tamil-fonts/ELCOT-Trichy.ttf); }
@font-face { font-family:'ELCOT-Vellore'; src:url(../font/tamil_unicode/tamil-fonts/ELCOT-Vellore.ttf); }
@font-face { font-family:'Jeya_Small'; src:url(../font/tamil_unicode/tamil-fonts/Jeya_Small.ttf); }
@font-face { font-family:'Mylai-Sri_Regular'; src:url(../font/tamil_unicode/tamil-fonts/Mylai-Sri_Regular.ttf); }
@font-face { font-family:'New_Kannan_Text'; src:url(../font/tamil_unicode/tamil-fonts/New_Kannan_Text.ttf); }
@font-face { font-family:'Sathiy_Normal'; src:url(../font/tamil_unicode/tamil-fonts/Sathiy_Normal.ttf); }
@font-face { font-family:'Tamil-Aiswarya-Normal'; src:url(../font/tamil_unicode/tamil-fonts/Tamil-Aiswarya-Normal.ttf); }

@font-face { font-family:'Aavarangal'; src:url(../font/tamil_unicode/font-files/Aavarangal.ttf); }
@font-face { font-family:'ELCOT-Unicode'; src:url(../font/tamil_unicode/font-files/ELCOT-Unicode.ttf); }
@font-face { font-family:'janatamil'; src:url(../font/tamil_unicode/font-files/janatamil.ttf); }
@font-face { font-family:'SUNDARAM-0806'; src:url(../font/tamil_unicode/font-files/SUNDARAM-0806.ttf); }
@font-face { font-family:'SUNDARAM-0808'; src:url(../font/tamil_unicode/font-files/SUNDARAM-0808.ttf); }
@font-face { font-family:'SUNDARAM-0812'; src:url(../font/tamil_unicode/font-files/SUNDARAM-0812.ttf); }
@font-face { font-family:'SUNDARAM-0819'; src:url(../font/tamil_unicode/font-files/SUNDARAM-0819.ttf); }
@font-face { font-family:'SUNDARAM-0820'; src:url(../font/tamil_unicode/font-files/SUNDARAM-0820.ttf); }
@font-face { font-family:'SUNDARAM-0823'; src:url(../font/tamil_unicode/font-files/SUNDARAM-0823.ttf); }
@font-face { font-family:'SUNDARAM-0827'; src:url(../font/tamil_unicode/font-files/SUNDARAM-0827.ttf); }
@font-face { font-family:'SUNDARAM-1341'; src:url(../font/tamil_unicode/font-files/SUNDARAM-1341.ttf); }
@font-face { font-family:'SUNDARAM-1342'; src:url(../font/tamil_unicode/font-files/SUNDARAM-1342.ttf); }
@font-face { font-family:'SUNDARAM-1351'; src:url(../font/tamil_unicode/font-files/SUNDARAM-1351.ttf); }
@font-face { font-family:'SUNDARAM-2865'; src:url(../font/tamil_unicode/font-files/SUNDARAM-2865.ttf); }
@font-face { font-family:'SUNDARAM-3811'; src:url(../font/tamil_unicode/font-files/SUNDARAM-3811.ttf); }
@font-face { font-family:'TAU_1_Elango_Barathi'; src:url(../font/tamil_unicode/font-files/TAU_1_Elango_Barathi.ttf); }
@font-face { font-family:'TAU_Elango_Agasthiyar'; src:url(../font/tamil_unicode/font-files/TAU_Elango_Agasthiyar.TTF); }
@font-face { font-family:'TAU_Elango_Arunthathi'; src:url(../font/tamil_unicode/font-files/TAU_Elango_Arunthathi.TTF); }
@font-face { font-family:'TAU_Elango_Cholaa'; src:url(../font/tamil_unicode/font-files/TAU_Elango_Cholaa.TTF); }
@font-face { font-family:'TAU_Elango_Devi'; src:url(../font/tamil_unicode/font-files/TAU_Elango_Devi.TTF); }
@font-face { font-family:'TAU_Elango_Godavari'; src:url(../font/tamil_unicode/font-files/TAU_Elango_Godavari.TTF); }
@font-face { font-family:'TAU_Elango_Guntalakesi'; src:url(../font/tamil_unicode/font-files/TAU_Elango_Guntalakesi.TTF); }
@font-face { font-family:'TAU_Elango_Juliee'; src:url(../font/tamil_unicode/font-files/TAU_Elango_Juliee.TTF); }
@font-face { font-family:'TAU_Elango_Kalyani'; src:url(../font/tamil_unicode/font-files/TAU_Elango_Kalyani.TTF); }
@font-face { font-family:'TAU_Elango_Kamban'; src:url(../font/tamil_unicode/font-files/TAU_Elango_Kamban.TTF); }
@font-face { font-family:'TAU_Elango_Kapilan'; src:url(../font/tamil_unicode/font-files/TAU_Elango_Kapilan.TTF); }
@font-face { font-family:'TAU_Elango_Madhavi'; src:url(../font/tamil_unicode/font-files/TAU_Elango_Madhavi.TTF); }
@font-face { font-family:'TAU_Elango_Malyamar'; src:url(../font/tamil_unicode/font-files/TAU_Elango_Malyamar.TTF); }
@font-face { font-family:'TAU_Elango_Marutham'; src:url(../font/tamil_unicode/font-files/TAU_Elango_Marutham.TTF); }
@font-face { font-family:'TAU_Elango_Mohanam'; src:url(../font/tamil_unicode/font-files/TAU_Elango_Mohanam.TTF); }
@font-face { font-family:'TAU_Elango_Mullai'; src:url(../font/tamil_unicode/font-files/TAU_Elango_Mullai.TTF); }
@font-face { font-family:'TAU_Elango_Neelampari'; src:url(../font/tamil_unicode/font-files/TAU_Elango_Neelampari.TTF); }
@font-face { font-family:'TAU_Elango_Pavalam'; src:url(../font/tamil_unicode/font-files/TAU_Elango_Pavalam.TTF); }
@font-face { font-family:'TAU_Elango_Priyanka'; src:url(../font/tamil_unicode/font-files/TAU_Elango_Priyanka.TTF); }
@font-face { font-family:'TAU_Elango_Ragham'; src:url(../font/tamil_unicode/font-files/TAU_Elango_Ragham.TTF); }
@font-face { font-family:'TAU_Elango_Rewathy'; src:url(../font/tamil_unicode/font-files/TAU_Elango_Rewathy.TTF); }
@font-face { font-family:'TAU_Elango_Sabari'; src:url(../font/tamil_unicode/font-files/TAU_Elango_Sabari.TTF); }
@font-face { font-family:'TAU_Elango_Sankara'; src:url(../font/tamil_unicode/font-files/TAU_Elango_Sankara.TTF); }
@font-face { font-family:'TAU_Elango_Senguttuvan'; src:url(../font/tamil_unicode/font-files/TAU_Elango_Senguttuvan.TTF); }
@font-face { font-family:'TAU_Elango_Surya'; src:url(../font/tamil_unicode/font-files/TAU_Elango_Surya.TTF); }
@font-face { font-family:'TAU_Elango_Thilllana'; src:url(../font/tamil_unicode/font-files/TAU_Elango_Thilllana.TTF); }
@font-face { font-family:'TAU_Elango_Todi'; src:url(../font/tamil_unicode/font-files/TAU_Elango_Todi.TTF); }
@font-face { font-family:'TAU_Elango_Valluvan'; src:url(../font/tamil_unicode/font-files/TAU_Elango_Valluvan.TTF); }
@font-face { font-family:'TAU_Elango_Vasuki'; src:url(../font/tamil_unicode/font-files/TAU_Elango_Vasuki.TTF); }
@font-face { font-family:'TAU_Elango_Veena'; src:url(../font/tamil_unicode/font-files/TAU_Elango_Veena.TTF); }
@font-face { font-family:'TAU-Kambar'; src:url(../font/tamil_unicode/font-files/TAU-Kambar.ttf); }
@font-face { font-family:'TAU-Kambar-B'; src:url(../font/tamil_unicode/font-files/TAU-Kambar-B.ttf); }
@font-face { font-family:'TAU-Kambar-BI'; src:url(../font/tamil_unicode/font-files/TAU-Kambar-BI.ttf); }
@font-face { font-family:'TAU-Kambar-I'; src:url(../font/tamil_unicode/font-files/TAU-Kambar-I.ttf); }
@font-face { font-family:'thendraluni'; src:url(../font/tamil_unicode/font-files/thendraluni.ttf); }
@font-face { font-family:'Uni_Ila_Sundaram-01'; src:url(../font/tamil_unicode/font-files/Uni_Ila.Sundaram-01.ttf); }
@font-face { font-family:'Uni_Ila_Sundaram-02'; src:url(../font/tamil_unicode/font-files/Uni_Ila.Sundaram-02.ttf); }
@font-face { font-family:'Uni_Ila_Sundaram-03'; src:url(../font/tamil_unicode/font-files/Uni_Ila.Sundaram-03.ttf); }
@font-face { font-family:'Uni_Ila_Sundaram-04'; src:url(../font/tamil_unicode/font-files/Uni_Ila.Sundaram-04.ttf); }
@font-face { font-family:'Uni_Ila_Sundaram-05'; src:url(../font/tamil_unicode/font-files/Uni_Ila.Sundaram-05.ttf); }
@font-face { font-family:'Uni_Ila_Sundaram-06'; src:url(../font/tamil_unicode/font-files/Uni_Ila.Sundaram-06.ttf); }
@font-face { font-family:'Uni_Ila_Sundaram-07'; src:url(../font/tamil_unicode/font-files/Uni_Ila.Sundaram-07.ttf); }
@font-face { font-family:'Uni_Ila_Sundaram-08'; src:url(../font/tamil_unicode/font-files/Uni_Ila.Sundaram-08.ttf); }
@font-face { font-family:'Uni_Ila_Sundaram-09'; src:url(../font/tamil_unicode/font-files/Uni_Ila.Sundaram-09.ttf); }
@font-face { font-family:'Uni_Ila_Sundaram-10'; src:url(../font/tamil_unicode/font-files/Uni_Ila.Sundaram-10.ttf); }

/* Font Family */
.unicode-style1{	font-family: aava1, Helvetica, sans-serif !important;	}
.unicode-style2{	font-family: Akshar, Helvetica, sans-serif !important;	}
.unicode-style3{	font-family: Code2001, Helvetica, sans-serif !important;	}
.unicode-style4{	font-family: latha, Helvetica, sans-serif !important;	}
.unicode-style5{	font-family: lohit_ta, Helvetica, sans-serif !important;	}
.unicode-style6{	font-family: RRJanaTamil, Helvetica, sans-serif !important;	}
.unicode-style7{	font-family: tau1_bar, Helvetica, sans-serif !important;	}
.unicode-style8{	font-family: ThendralUni, Helvetica, sans-serif !important;	}
.unicode-style9{	font-family: TheneeUni, Helvetica, sans-serif !important;	}
.unicode-style10{	font-family: VaigaiUni, Helvetica, sans-serif !important;	}
.unicode-style11{	font-family: Song-1, Helvetica, sans-serif !important;	}
.unicode-style12{	font-family: Unit-Title, Helvetica, sans-serif !important;	}
.unicode-style13{	font-family: Sub-Title, Helvetica, sans-serif !important;	}
.unicode-style14{	font-family: Running-Text-Slanting, Helvetica, sans-serif !important;	}
.unicode-style15{	font-family: Chapter-Title, Helvetica, sans-serif !important;	}
.unicode-style16{	font-family: Style-1, Helvetica, sans-serif !important;	}
.unicode-style17{	font-family: Running-Text-Straight, Helvetica, sans-serif !important;	}
.unicode-style18{	font-family: Style-2, Helvetica, sans-serif !important;	}
.unicode-style19{	font-family: Style-3, Helvetica, sans-serif !important;	}
.unicode-style20{	font-family: Song-2, Helvetica, sans-serif !important;	}
.unicode-style21{	font-family: SUNDARAM-0830, Helvetica, sans-serif !important;	}

.unicode-style22{	font-family: Amudham, Helvetica, sans-serif !important;	}
.unicode-style23{	font-family: Bamini_Plain, Helvetica, sans-serif !important;	}
.unicode-style24{	font-family: ELCOT-ANSI, Helvetica, sans-serif !important;	}
.unicode-style25{	font-family: ELCOT-Kanchi, Helvetica, sans-serif !important;	}
.unicode-style26{	font-family: ELCOT-Kovai, Helvetica, sans-serif !important;	}
.unicode-style27{	font-family: ELCOT-Madurai, Helvetica, sans-serif !important;	}
.unicode-style28{	font-family: ELCOT-Salem, Helvetica, sans-serif !important;	}
.unicode-style29{	font-family: ELCOT-Thanjavur, Helvetica, sans-serif !important;	}
.unicode-style30{	font-family: ELCOT-Tirunelveli, Helvetica, sans-serif !important;	}
.unicode-style31{	font-family: ELCOT-Tiruvarur, Helvetica, sans-serif !important;	}
.unicode-style32{	font-family: ELCOT-Trichy, Helvetica, sans-serif !important;	}
.unicode-style33{	font-family: ELCOT-Vellore, Helvetica, sans-serif !important;	}
.unicode-style34{	font-family: Jeya_Small, Helvetica, sans-serif !important;	}
.unicode-style35{	font-family: Mylai-Sri_Regular, Helvetica, sans-serif !important;	}
.unicode-style36{	font-family: New_Kannan_Text, Helvetica, sans-serif !important;	}
.unicode-style37{	font-family: Sathiy_Normal, Helvetica, sans-serif !important;	}
.unicode-style38{	font-family: Tamil-Aiswarya-Normal, Helvetica, sans-serif !important;	}

.unicode-style39{	font-family: Aavarangal, Helvetica, sans-serif !important;	}
.unicode-style40{	font-family: ELCOT-Unicode, Helvetica, sans-serif !important;	}
.unicode-style41{	font-family: janatamil, Helvetica, sans-serif !important;	}
.unicode-style42{	font-family: SUNDARAM-0806, Helvetica, sans-serif !important;	}
.unicode-style43{	font-family: SUNDARAM-0808, Helvetica, sans-serif !important;	}
.unicode-style44{	font-family: SUNDARAM-0812, Helvetica, sans-serif !important;	}
.unicode-style45{	font-family: SUNDARAM-0819, Helvetica, sans-serif !important;	}
.unicode-style46{	font-family: SUNDARAM-0820, Helvetica, sans-serif !important;	}
.unicode-style47{	font-family: SUNDARAM-0823, Helvetica, sans-serif !important;	}
.unicode-style48{	font-family: SUNDARAM-0827, Helvetica, sans-serif !important;	}
.unicode-style49{	font-family: SUNDARAM-1341, Helvetica, sans-serif !important;	}
.unicode-style50{	font-family: SUNDARAM-1342, Helvetica, sans-serif !important;	}
.unicode-style51{	font-family: SUNDARAM-1351, Helvetica, sans-serif !important;	}
.unicode-style52{	font-family: SUNDARAM-1352, Helvetica, sans-serif !important;	}
.unicode-style53{	font-family: SUNDARAM-2865, Helvetica, sans-serif !important;	}
.unicode-style54{	font-family: SUNDARAM-3811, Helvetica, sans-serif !important;	}
.unicode-style55{	font-family: TAU_1_Elango_Barathi, Helvetica, sans-serif !important;	}
.unicode-style56{	font-family: TAU_Elango_Agasthiyar, Helvetica, sans-serif !important;	}
.unicode-style57{	font-family: TAU_Elango_Arunthathi, Helvetica, sans-serif !important;	}
.unicode-style58{	font-family: TAU_Elango_Cholaa, Helvetica, sans-serif !important;	}
.unicode-style59{	font-family: TAU_Elango_Devi, Helvetica, sans-serif !important;	}
.unicode-style60{	font-family: TAU_Elango_Godavari, Helvetica, sans-serif !important;	}
.unicode-style61{	font-family: TAU_Elango_Guntalakesi, Helvetica, sans-serif !important;	}
.unicode-style62{	font-family: TAU_Elango_Juliee, Helvetica, sans-serif !important;	}
.unicode-style63{	font-family: TAU_Elango_Kalyani, Helvetica, sans-serif !important;	}
.unicode-style64{	font-family: TAU_Elango_Kamban, Helvetica, sans-serif !important;	}
.unicode-style65{	font-family: TAU_Elango_Kapilan, Helvetica, sans-serif !important;	}
.unicode-style66{	font-family: TAU_Elango_Madhavi, Helvetica, sans-serif !important;	}
.unicode-style67{	font-family: TAU_Elango_Malyamar, Helvetica, sans-serif !important;	}
.unicode-style68{	font-family: TAU_Elango_Marutham, Helvetica, sans-serif !important;	}
.unicode-style69{	font-family: TAU_Elango_Mohanam, Helvetica, sans-serif !important;	}
.unicode-style70{	font-family: TAU_Elango_Mullai, Helvetica, sans-serif !important;	}
.unicode-style71{	font-family: TAU_Elango_Neelampari, Helvetica, sans-serif !important;	}
.unicode-style72{	font-family: TAU_Elango_Pavalam, Helvetica, sans-serif !important;	}
.unicode-style73{	font-family: TAU_Elango_Priyanka, Helvetica, sans-serif !important;	}
.unicode-style74{	font-family: TAU_Elango_Ragham, Helvetica, sans-serif !important;	}
.unicode-style75{	font-family: TAU_Elango_Rewathy, Helvetica, sans-serif !important;	}
.unicode-style76{	font-family: TAU_Elango_Sabari, Helvetica, sans-serif !important;	}
.unicode-style77{	font-family: TAU_Elango_Sankara, Helvetica, sans-serif !important;	}
.unicode-style78{	font-family: TAU_Elango_Senguttuvan, Helvetica, sans-serif !important;	}
.unicode-style79{	font-family: TAU_Elango_Surya, Helvetica, sans-serif !important;	}
.unicode-style80{	font-family: TAU_Elango_Thilllana, Helvetica, sans-serif !important;	}
.unicode-style81{	font-family: TAU_Elango_Todi, Helvetica, sans-serif !important;	}
.unicode-style82{	font-family: TAU_Elango_Valluvan, Helvetica, sans-serif !important;	}
.unicode-style83{	font-family: TAU_Elango_Vasuki, Helvetica, sans-serif !important;	}
.unicode-style84{	font-family: TAU_Elango_Veena, Helvetica, sans-serif !important;	}
.unicode-style85{	font-family: TAU-Kambar, Helvetica, sans-serif !important;	}
.unicode-style86{	font-family: TAU-Kambar-B, Helvetica, sans-serif !important;	}
.unicode-style87{	font-family: TAU-Kambar-BI, Helvetica, sans-serif !important;	}
.unicode-style88{	font-family: TAU-Kambar-I, Helvetica, sans-serif !important;	}
.unicode-style89{	font-family: thendraluni, Helvetica, sans-serif !important;	}
.unicode-style90{	font-family: Uni_Ila_Sundaram-01, Helvetica, sans-serif !important;	}
.unicode-style91{	font-family: Uni_Ila_Sundaram-02, Helvetica, sans-serif !important;	}
.unicode-style92{	font-family: Uni_Ila_Sundaram-03, Helvetica, sans-serif !important;	}
.unicode-style93{	font-family: Uni_Ila_Sundaram-04, Helvetica, sans-serif !important;	}
.unicode-style94{	font-family: Uni_Ila_Sundaram-05, Helvetica, sans-serif !important;	}
.unicode-style95{	font-family: Uni_Ila_Sundaram-06, Helvetica, sans-serif !important;	}
.unicode-style96{	font-family: Uni_Ila_Sundaram-07, Helvetica, sans-serif !important;	}
.unicode-style97{	font-family: Uni_Ila_Sundaram-08, Helvetica, sans-serif !important;	}
.unicode-style98{	font-family: Uni_Ila_Sundaram-09, Helvetica, sans-serif !important;	}
.unicode-style99{	font-family: Uni_Ila_Sundaram-10, Helvetica, sans-serif !important;	}

/* Font size */
.fs1	{	font-size:1px !important;	}
.fs2	{	font-size:2px !important;	}
.fs3	{	font-size:3px !important;	}
.fs4	{	font-size:4px !important;	}
.fs5	{	font-size:5px !important;	}
.fs6	{	font-size:6px !important;	}
.fs7	{	font-size:7px !important;	}
.fs8	{	font-size:8px !important;	}
.fs9	{	font-size:9px !important;	}
.fs10	{	font-size:10px !important;	}
.fs11	{	font-size:11px !important;	}
.fs12	{	font-size:12px !important;	}
.fs13	{	font-size:13px !important;	}
.fs14	{	font-size:14px !important;	}
.fs15	{	font-size:15px !important;	}
.fs16	{	font-size:16px !important;	}
.fs17	{	font-size:17px !important;	}
.fs18	{	font-size:18px !important;	}
.fs19	{	font-size:19px !important;	}
.fs20	{	font-size:20px !important;	}
.fs21	{	font-size:21px !important;	}
.fs22	{	font-size:22px !important;	}
.fs23	{	font-size:23px !important;	}
.fs24	{	font-size:24px !important;	}
.fs25	{	font-size:25px !important;	}
.fs26	{	font-size:26px !important;	}
.fs27	{	font-size:27px !important;	}
.fs28	{	font-size:28px !important;	}
.fs29	{	font-size:29px !important;	}
.fs30	{	font-size:30px !important;	}
.fs31	{	font-size:31px !important;	}
.fs32	{	font-size:32px !important;	}
.fs33	{	font-size:33px !important;	}
.fs34	{	font-size:34px !important;	}
.fs35	{	font-size:35px !important;	}
.fs36	{	font-size:36px !important;	}
.fs37	{	font-size:37px !important;	}
.fs38	{	font-size:38px !important;	}
.fs39	{	font-size:39px !important;	}
.fs40	{	font-size:40px !important;	}
.fs41	{	font-size:41px !important;	}
.fs42	{	font-size:42px !important;	}
.fs43	{	font-size:43px !important;	}
.fs44	{	font-size:44px !important;	}
.fs45	{	font-size:45px !important;	}
.fs46	{	font-size:46px !important;	}
.fs47	{	font-size:47px !important;	}
.fs48	{	font-size:48px !important;	}
.fs49	{	font-size:49px !important;	}
.fs50	{	font-size:50px !important;	}
.fs51	{	font-size:51px !important;	}
.fs52	{	font-size:52px !important;	}
.fs53	{	font-size:53px !important;	}
.fs54	{	font-size:54px !important;	}
.fs55	{	font-size:55px !important;	}
.fs56	{	font-size:56px !important;	}
.fs57	{	font-size:57px !important;	}
.fs58	{	font-size:58px !important;	}
.fs59	{	font-size:59px !important;	}
.fs60	{	font-size:60px !important;	}
.fs61	{	font-size:61px !important;	}
.fs62	{	font-size:62px !important;	}
.fs63	{	font-size:63px !important;	}
.fs64	{	font-size:64px !important;	}
.fs65	{	font-size:65px !important;	}
.fs66	{	font-size:66px !important;	}
.fs67	{	font-size:67px !important;	}
.fs68	{	font-size:68px !important;	}
.fs69	{	font-size:69px !important;	}
.fs70	{	font-size:70px !important;	}
.fs71	{	font-size:71px !important;	}
.fs72	{	font-size:72px !important;	}
.fs73	{	font-size:73px !important;	}
.fs74	{	font-size:74px !important;	}
.fs75	{	font-size:75px !important;	}
.fs76	{	font-size:76px !important;	}
.fs77	{	font-size:77px !important;	}
.fs78	{	font-size:78px !important;	}
.fs79	{	font-size:79px !important;	}
.fs80	{	font-size:80px !important;	}
.fs81	{	font-size:81px !important;	}
.fs82	{	font-size:82px !important;	}
.fs83	{	font-size:83px !important;	}
.fs84	{	font-size:84px !important;	}
.fs85	{	font-size:85px !important;	}
.fs86	{	font-size:86px !important;	}
.fs87	{	font-size:87px !important;	}
.fs88	{	font-size:88px !important;	}
.fs89	{	font-size:89px !important;	}
.fs90	{	font-size:90px !important;	}
.fs91	{	font-size:91px !important;	}
.fs92	{	font-size:92px !important;	}
.fs93	{	font-size:93px !important;	}
.fs94	{	font-size:94px !important;	}
.fs95	{	font-size:95px !important;	}
.fs96	{	font-size:96px !important;	}
.fs97	{	font-size:97px !important;	}
.fs98	{	font-size:98px !important;	}
.fs99	{	font-size:99px !important;	}
.fs100	{	font-size:100px !important;	}

/* Font Weight */
.fw-100 {	font-weight:100 !important; }
.fw-200 {	font-weight:200 !important; }
.fw-300 {	font-weight:300 !important; }
.fw-400 {	font-weight:400 !important; }
.fw-500 {	font-weight:500 !important; }
.fw-600 {	font-weight:600 !important; }
.fw-700 {	font-weight:700 !important; }
.fw-800 {	font-weight:800 !important; }
.fw-900 {	font-weight:900 !important; }
.fw-bold {	font-weight:bold !important; }
.fw-bolder{ font-weight:bolder !important; }
.fw-inherit{font-weight:inherit !important; }
.fw-lighter{font-weight:lighter !important; }
.fw-normal{	font-weight:normal !important; }

/* Text Align */
.talignleft { text-align:left !important; }
.talignright { text-align:right !important; }
.talignjustify { text-align:justify !important; }
.taligncenter { text-align:center !important; }

/* Text Shadow */
.txt-shad { text-shadow:#000 1px 2px 3px !important; }

.txt-shadnone{  }
.txt-shad000 { text-shadow:#000 0px 0px 0px !important; }
.txt-shad001 { text-shadow:#000 0px 0px 1px !important; }
.txt-shad002 { text-shadow:#000 0px 0px 2px !important; }
.txt-shad003 { text-shadow:#000 0px 0px 3px !important; }

.txt-shad013 { text-shadow:#000 0px 1px 3px !important; }
.txt-shad023 { text-shadow:#000 0px 2px 3px !important; }
.txt-shad033 { text-shadow:#000 0px 3px 3px !important; }

.txt-shad103 { text-shadow:#000 1px 0px 3px !important; }
.txt-shad203 { text-shadow:#000 2px 0px 3px !important; }
.txt-shad303 { text-shadow:#000 3px 0px 3px !important; }

.logo-bg { background:url('../images/mtclogo.png'); width: 225px; height: 45px; position:absolute; background-size:100%; padding-left: -10px !important; }
.logo-img{	height: 50px; cursor: pointer;}

/*.p{
	font-family: Style-1, Helvetica, sans-serif;
}*/